#project {
    margin-top: 70px;
}

.project-section {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
}

@media (max-width:750px) {
    .project-section {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
    }
}

.single-project {
    padding: 20px;
}

.single-projection-section {
    border: 1px solid lab(81.5% -28.83 -4.53);
}

.live-link {
    width: 340px;
    margin: auto;
    margin-bottom: 10px;
}

.live-link-code {
    padding: 5px;
    background-color: lab(81.5% -28.83 -4.53);
    border: 2px solid lab(81.5% -28.83 -4.53);
    transition: all 0.3s;
}

.live-link-code:hover {
    background-color: transparent;
    color: #00c9ff;
}